/* styles.css */

/* Hintergrundfarbe der gesamten Seite */
body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif; /* Schriftart Open Sans */
    color: white; /* Standard Textfarbe */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#container {
  position: relative;
}


/* Stil der Tabelle */
table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px solid transparent; /* Um die Linien nur innerhalb der Tabelle zu haben */
}


td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}


table {
  border-collapse: collapse;
}


table td {
    border: 5px solid white; /* Dicke und Farbe der Trennlinien */
}


td:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}


table tr:first-child td {
  border-top: 0;
}


table tr td:first-child {
  border-left: 0;
}


table tr:last-child td {
  border-bottom: 0;
}


table tr td:last-child {
  border-right: 0;
}
